#1.Import The Necessary Library:

In [1]:
import numpy as np   #np-Alias
import pandas as pd  #np-Alias

2.Read or Load File

In [5]:
df=pd.read_csv("HumanBodyPerformance.csv")

In [6]:
df.shape

(13393, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

3.Descriptive Statistics

In [8]:
df.describe()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000
mean,36.775106,168.559807,67.447316,23.240165,78.796842,130.234817,36.963877,15.209268,39.771224,190.129627
std,13.625639,8.426583,11.949666,7.256844,10.742033,14.713954,10.624864,8.456677,14.276698,39.868000
min,21.000000,125.000000,26.300000,3.000000,0.000000,0.000000,0.000000,-25.000000,0.000000,0.000000
25%,25.000000,162.400000,58.200000,18.000000,71.000000,120.000000,27.500000,10.900000,30.000000,162.000000
50%,32.000000,169.200000,67.400000,22.800000,79.000000,130.000000,37.900000,16.200000,41.000000,193.000000
75%,48.000000,174.800000,75.300000,28.000000,86.000000,141.000000,45.200000,20.700000,50.000000,221.000000
max,64.000000,193.800000,138.100000,78.400000,156.200000,201.000000,70.500000,213.000000,80.000000,303.000000

In [9]:
df['age'].mean()

36.77510639886508

In [10]:
df.head(100)

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...
95,41.0,M,166.7,65.70,21.5,90.0,151.0,49.6,18.7,54.0,242.0,A
96,50.0,F,158.4,57.20,32.0,69.0,134.0,21.1,18.6,17.0,136.0,C
97,22.0,M,175.8,72.00,30.4,75.0,115.0,34.6,19.0,54.0,188.0,C
98,56.0,M,173.0,70.90,19.5,83.0,135.0,47.9,11.1,44.0,162.0,B
99,46.0,F,159.1,52.20,27.2,84.0,127.0,22.9,17.9,30.0,136.0,D

In [18]:
df.columns

Index(['age', 'gender', 'height_cm', 'weight_kg', 'body fat_%', 'diastolic',
       'systolic', 'gripForce', 'sit and bend forward_cm', 'sit-ups counts',
       'broad jump_cm', 'class'],
      dtype='object')

In [35]:
df['age'].mean()

36.77510639886508

In [27]:
df.dtypes

age                        float64
gender                      object
height_cm                  float64
weight_kg                  float64
body fat_%                 float64
diastolic                  float64
systolic                   float64
gripForce                  float64
sit and bend forward_cm    float64
sit-ups counts             float64
broad jump_cm              float64
class                       object
dtype: object

4.Count The Missing Values

In [30]:
df.isna()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
13388,False,False,False,False,False,False,False,False,False,False,False,False
13389,False,False,False,False,False,False,False,False,False,False,False,False
13390,False,False,False,False,False,False,False,False,False,False,False,False
13391,False,False,False,False,False,False,False,False,False,False,False,False
13392,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
df.isnull().sum().sum()

0

5.Get  The Count OF Unique  values in a specific columns:

In [39]:
df['gender'].value_counts()

gender
M    8467
F    4926
Name: count, dtype: int64

6.Get The Unique value

In [40]:
df.nunique()

age                          44
gender                        2
height_cm                   467
weight_kg                  1398
body fat_%                  527
diastolic                    89
systolic                    102
gripForce                   550
sit and bend forward_cm     528
sit-ups counts               81
broad jump_cm               245
class                         4
dtype: int64

7.Check the Duplicate values

In [41]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
13388    False
13389    False
13390    False
13391    False
13392    False
Length: 13393, dtype: bool

In [42]:
df.duplicated().sum()

1

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.duplicated().sum()

0

In [46]:
df.shape

(13392, 12)

8.Deal with Numerical and Categorical data

In [48]:
numerical=df.select_dtypes(exclude='object')

In [49]:
categorical=df.select_dtypes(include='object')

In [50]:
categorical

      gender class
0          M     C
1          M     A
2          M     C
3          M     B
4          M     B
...      ...   ...
13388      M     C
13389      M     D
13390      M     A
13391      F     D
13392      M     C

[13392 rows x 2 columns]