## 1.Min Max Normalization

Import the Necessary Libraries

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

## 1.2 create the dataset

In [26]:
data={
    'bedroom':[1,2,3,4,5],
    'bathroom':[1,2,2,3,2,],
    'sqrt_living':[500,1000,1500,2000,2500],
    'age_of_the-house':[5,10,15,20,25],
    'price':[100000,150000,200000,2500000,3000000]
    }

In [29]:
data

{'bedroom': [1, 2, 3, 4, 5],
 'bathroom': [1, 2, 2, 3, 2],
 'sqrt_living': [500, 1000, 1500, 2000, 2500],
 'age_of_the-house': [5, 10, 15, 20, 25],
 'price': [100000, 150000, 200000, 2500000, 3000000]}

In [30]:
df=pd.DataFrame(data)

In [31]:
df

   bedroom  bathroom  sqrt_living  age_of_the-house    price
0        1         1          500                 5   100000
1        2         2         1000                10   150000
2        3         2         1500                15   200000
3        4         3         2000                20  2500000
4        5         2         2500                25  3000000

In [32]:
scaler=MinMaxScaler()

In [14]:
scaler

MinMaxScaler()

## 1.4 Fit

In [33]:
normalized_data=scaler.fit_transform(df)

In [20]:
normalized_data

array([[0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.25      , 0.5       , 0.25      , 0.25      , 0.01724138],
       [0.5       , 0.5       , 0.5       , 0.5       , 0.03448276],
       [0.75      , 1.        , 0.75      , 0.75      , 0.82758621],
       [1.        , 0.5       , 1.        , 1.        , 1.        ]])

## 1.5 converting array to dataframe

In [34]:
normalized_convert=pd.DataFrame(normalized_data,columns=df.columns)

In [35]:
normalized_convert

   bedroom  bathroom  sqrt_living  age_of_the-house     price
0     0.00       0.0         0.00              0.00  0.000000
1     0.25       0.5         0.25              0.25  0.017241
2     0.50       0.5         0.50              0.50  0.034483
3     0.75       1.0         0.75              0.75  0.827586
4     1.00       0.5         1.00              1.00  1.000000