## DECIMAL SCALING

## 1.IMPORT THE NECESSARY LIBRARIES

In [5]:
import pandas as pd
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [6]:
data={
    'bedroom':[1,2,3,4,5],
    'bathroom':[1,2,2,3,2,],
    'sqrt_living':[500,1000,1500,2000,2500],
    'age_of_the-house':[5,10,15,20,25],
    'price':[100000,150000,200000,2500000,3000000]
    }

In [7]:
df=pd.DataFrame(data)

In [8]:
df

   bedroom  bathroom  sqrt_living  age_of_the-house    price
0        1         1          500                 5   100000
1        2         2         1000                10   150000
2        3         2         1500                15   200000
3        4         3         2000                20  2500000
4        5         2         2500                25  3000000

## Create the Decimal_Scaler Library

In [11]:
def  Decimal_Scaler(X):
    max_avg = np.max(np.abs(X))
    scale=10**np.cell(np.log10(max_abv))
    return X/scale

## Applying the decimal_scaling technique

In [12]:
transformer=FunctionTransformer(decimal_scaler)

NameError: name 'decimal_scaler' is not defined