## 2.Z_Score  Normalization

## 2.1.Import The Necessary Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

## 2.2 create the dataset

In [2]:
data={
    'bedroom':[1,2,3,4,5],
    'bathroom':[1,2,2,3,2,],
    'sqrt_living':[500,1000,1500,2000,2500],
    'age_of_the-house':[5,10,15,20,25],
    'price':[100000,150000,200000,2500000,3000000]
    }

## 2.3 converting array to dataframe

In [7]:
df=pd.DataFrame(data)

In [4]:
scaler=StandardScaler()

## 2.4 Fit the Data

In [8]:
normalized_data=scaler.fit_transform(df)

In [9]:
normalized_data

array([[-1.41421356, -1.58113883, -1.41421356, -1.41421356, -0.84897557],
       [-0.70710678,  0.        , -0.70710678, -0.70710678, -0.81003174],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.77108791],
       [ 0.70710678,  1.58113883,  0.70710678,  0.70710678,  1.02032844],
       [ 1.41421356,  0.        ,  1.41421356,  1.41421356,  1.40976678]])

In [10]:
normalized_convert=pd.DataFrame(normalized_data,columns=df.columns)

In [11]:
normalized_convert

    bedroom  bathroom  sqrt_living  age_of_the-house     price
0 -1.414214 -1.581139    -1.414214         -1.414214 -0.848976
1 -0.707107  0.000000    -0.707107         -0.707107 -0.810032
2  0.000000  0.000000     0.000000          0.000000 -0.771088
3  0.707107  1.581139     0.707107          0.707107  1.020328
4  1.414214  0.000000     1.414214          1.414214  1.409767